<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office Employee Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1 class="text-center">Filter Employee Details</h1>    <hr>
        <form method="post" action="/filter_emp">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" value="{{name}}" name="name">
              
              <label for="dept" class="form-label">Department:</label>
              <input type="text" class="form-control" id="dept" value="{{department}}" name="department">

              <label for="role" class="form-label">Role:</label>
              <input type="text" class="form-control" id="role" value="{{role}}" name="role">
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>